*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
}

.main {
  font-family: "Inter", sans-serif;
}

.hide_scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}